**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

// IntelliJ
*.iml
**/.idea/

// Eclipse:
**/.classpath
**/.project
**/.settings/

**/.DS_Store

.vscode/


# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

**/_deps/

**/build/
**/dist/


docs/paper/*.aux
docs/paper/*.bbl
docs/paper/*.bcf
docs/paper/*.blg
docs/paper/*.log
docs/paper/*.out
docs/paper/*.toc
docs/paper/*.run.xml
**/*.synctex.gz
